<ion-menu side="start" contentId="first" type="overlay" direction="y" auto-hide="true" (click)="toggleSidebar()">
  <ion-header>
    <ion-toolbar color="primary">
      <div class="panel-user-detail">
      <ion-avatar slot="start">
        <img src="./../../../assets/images/user-placeholder.jpg">
      </ion-avatar>
        <h3>{{fName+' '+lName}}</h3>
        <p> <i class="flaticon-placeholder"></i> Your own location display here</p>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list id="inbox-list" lines="none">

      <ion-item auto-hide="false" *ngFor="let p of appPages; let i = index" (click)="selectedIndex = i;" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="currenctUrl == p.url">
        <ion-icon class="{{p.menuicon}}" slot="start"></ion-icon>
        <ion-label>{{ p.title }} </ion-label>
      </ion-item>

      <ion-item lines="none" detail="false" (click)="logout()">
        <ion-icon class="flaticon-alert" slot="start"></ion-icon>
        <ion-label> Logout </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-row>
        <ion-col>
          <a (click)="openImprint()">
            <span>Imprints</span>
          </a>
        </ion-col>
        <ion-col class="ion-text-center">
          <a style="color: #6e6e6e;">
            <span>Version 1.00</span>
          </a>
        </ion-col>
        <ion-col class="ion-text-end">
          <a (click)="openPrivacyPolicy()">
            <span>Policy</span>
          </a>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>
</ion-menu>
<ion-router-outlet id="first"></ion-router-outlet>
