<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button >
          <ion-back-button defaultHref="/map"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title mode="ios">About Us</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<!-- <ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>About us</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
  <h3>About company</h3>
  <div class="company-img about-company">
    <img src="https://www.paj-gps.de/wp-content/uploads/2020/03/titelbild-gps-tracker-von-paj.jpg">
  </div> 
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  
  <div class="about-app">
    <h3>About app</h3>
    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

    <h3 style="margin-top: 20px;">Manual</h3>
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <div class="company-img">
            <img src="https://www.paj-gps.de/wp-content/uploads/2020/03/titelbild-gps-tracker-von-paj.jpg">
            <a href=""><ion-icon name="download"></ion-icon> Download</a>
          </div>
        </ion-col>
        <ion-col col-4>
          <div class="company-img">
            <img src="https://www.paj-gps.de/wp-content/uploads/2020/03/titelbild-gps-tracker-von-paj.jpg">
            <a href=""><ion-icon name="download"></ion-icon> Download</a>
          </div>
        </ion-col>
        <ion-col col-4>
          <div class="company-img">
            <img src="https://www.paj-gps.de/wp-content/uploads/2020/03/titelbild-gps-tracker-von-paj.jpg">
            <a href=""><ion-icon name="download"></ion-icon> Download</a>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="page-links">
      <ul>
        <li><a href="">Lorem Ipsum is simply dummy text</a></li>
        <li><a href="">of the printing and typesetting</a></li>
        <li><a href="">ndustry. Lorem Ipsum has</a></li>
        <li><a href="">the industry's standard dummy</a></li>
        <li><a href="">text ever since</a></li>
      </ul>
    </div>
  </div>

  <div class="about-app">
    <h3>Contact</h3>
    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

    <h2>
      <ion-icon name="call"></ion-icon> +49 (0) 2292 39 499 59
    </h2>
    <h2>
      <ion-icon name="mail"></ion-icon> info@paj-gps.de
    </h2>
    <h2>
      <ion-icon name="map"></ion-icon> Lorem ipsum Germany 4110
    </h2>
  </div>
  


  
  
</ion-content>
