/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import '@mapbox/mapbox-gl-draw/dist/mapbox-gl-draw.css';
@import "./assets/flaticon/flaticon.css";



:root {
    --primary:#eb4800;
    --white:#fff;
    --black:#222;
    --lightgrey:#f6f6f6;
    --bordercolor:#ebebeb;
    --contentbg:#ecebee;
    --blue:#4c8dff;
}
ion-button{
    text-transform: capitalize;
    font-weight: normal;
}
.mr-0{
    margin-right: 0 !important;
}
.toggle-icon{
    --background: #ffa177;
}
.item-field{
    --background:var(--lightgrey);
    margin: 13px 13px 10px 13px;
    border-radius: 4px;   
}
.two-column{
    ion-col{
        padding: 0;
        margin: 0;
        ion-item{
            padding: 0;
            margin-top: 0;
            margin-left: 0;
        }
    }              
}


ion-select {
    .select-placeholder{
        --opacity: 10 !important;
    }   
}




/* Default header */
ion-header{
    &:after{
        height: 0; 
    }
    ion-toolbar{
        --background: rgb(34,34,34);
        --background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(0,0,0,1) 67%);
        text-align: center;
        ion-menu-button{
            color: var(--white);
        }
        .flaticon-notification-bell{
            color: var(--white);
            font-size: 17px;
            padding: 2px 10px;
            height: 23px;
        }
        span{
            display: inline-block;
            width: 18px;
            height: 18px;
            background: var(--primary);
            position: absolute;
            color: var(--white);
            padding: 3px;
            text-align: center;
            font-size: 10px;
            border-radius: 100%;
            line-height: 14px;
            right: 0px;
            top: -5px;
        }
        ion-back-button span {
            background: var(--secondary);
            top: 0px;
        }
        ion-title{
            color: var(--white);
            font-weight: normal;
            text-align: center;
            font-size: 17px;
            position: absolute;
            right: 20px;
            left: 20px;
            top: 18px;
        }
        
    }    
}
.header-md{
    &:after{
        height: 0;
    }
}
/*./*/


/* Default Footer */
ion-footer{
        padding: 0;
        margin: 0;
        &.menu-footer{
            ion-toolbar{
                --background: rgb(34,34,34);
                --background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(0,0,0,1) 67%);
                text-align: center;
                display: flex;
                padding: 0;
                margin: 0;
               ion-col{
                   margin: 0;
                   padding: 0;
               }
                ion-icon{
                   display: block;  
                   margin: 0 auto 5px auto;
                   font-size: 21px;
                   width: 38px;
                   height: 27px;
                   padding: 4px 0 0;
                }
                a{
                    color: var(--white);
                    text-decoration: none;
                    display: block;
                    padding: 4px 5px;
                    border-top: solid 4px transparent;
                    font-size: 14px;
                    //line-height: 22px;
                    &.active{
                        border-top: solid 4px var(--primary);
                        color: var(--primary);
                    }
                }
            }
            .footer-label{
                display: block; 
                width: 100%;
            }
        }
}
.modal-list{
    height: 70vh;
    top: auto;
    bottom: 58px;
    border-radius: 15px 15px 0 0;
}
/*./*/


ion-searchbar{
    .searchbar-input-container{
        padding: 0;;border:1px solid #ccc;border-radius: 25px;overflow: hidden;
    input{
        box-shadow: none !important
    }
    .searchbar-search-icon.sc-ion-searchbar-md{
        color: var(--primary);
    }
}
    
}


// Popup customization
.alert-head{
    background: var(--lightgrey);
    .alert-title{
        text-align: center;
        font-size: 16px;
    }
}
.alert-button-group{
    background: var(--lightgrey);
    .alert-button{
        background: var(--primary);
        color: var(--white);
        width: 45%;
        text-transform: capitalize;
        .alert-button-inner{
            text-align: center;
            justify-content: center;
        }
        .alert-button-role-cancel{
            --background: #d8d8d8 !important; 
        }
    }
    
}
// Popup customization

// Small Popup on Map page
.custom-modal {
    margin-top: 110px;
    margin-bottom: 64px;
}

.popup {
    height: 500px;
}
.popup2 {
    height: 440px;
}